.cards-container {
  display: flex;
  overflow: hidden;
  border-radius: 8px;
}

.card {
  font-family: "Lexend Deca";
  font-weight: 400;
  height: 500px;
  width: 300px;
  display: grid;

  gap: 20px;
  padding: 45px;
}

.card img {
  height: 40px;
}

.card h3 {
  font-family: "Big Shoulders Display";
  font-size: 2.5rem;
  color: white;
}

.card p {
  color: var(--transparent-white);
  line-height: 24px;
}

.card button {
  font-family: "Lexend Deca";
  padding: 12px 36px;
  border-radius: 60px;
  /* margin-inline: auto; */
  height: fit-content;
  width: fit-content;
  background-color: white;
  border: 2px solid white;
  align-self: self-end;
  font-weight: 500;
}

.card button:hover {
  color: white;
  background-color: transparent;
  cursor: pointer;
}

/** Selecting individual cards: */

.card-sedan {
  background-color: var(--bright-orange);
}

.card-suv {
  background-color: var(--dark-cyan);
}

.card-luxery {
  background-color: var(--very-dark-cyan);
}

.card-sedan button {
  color: var(--bright-orange);
}

.card-suv button {
  color: var(--dark-cyan);
}

.card-luxery button {
  color: var(--very-dark-cyan);
}
